/*common style*/
body{
	font-family: 'Microsoft Yahei';
	color: #444;
}
ul,li{
	padding: 0;
	list-style: none
}
h1,h2,h3,h4,h5{
	margin: 0
}
a:focus, a:hover, a:active, a:link{
	text-decoration: none
}
label{
	margin-bottom: 0;
	font-weight: normal
}
label, input[type=checkbox]{
	cursor: pointer
}
textarea{
	resize: vertical
}
input[type="file"] {
    padding: 0 12px
}
em{
	font-style: normal
}
select.form-control{
	padding: 2px 5px
}
.btn{
	letter-spacing: 2px
}
.btn-main {
	color: #fff;
	background: #ff7b43
}
.btn-main:focus,
.btn-main:hover{
	color: #fff;
	background: #ff6b43
}

/*page-title*/
.page-title {
	margin-bottom: 30px;
	border-bottom: 1px solid #ccc
}
.page-title h2{
	display: inline-block;
	width: 120px;
	padding: 11px 0;
	text-align: center;
	color: #fff;
	font-size: 18px;
	background: #008BDC
}

.page-title .btn{
	float: right;
	margin: 4px 30px 0 0;
}
.page-title a.btn{
	color: #333;
	background: rgb(221, 221, 221)
}
/*.page-title a.btn:hover{
	color: #fff;
	background: #FF7B43
}*/

/*nav-tabs tab-content*/
.nav-tabs>li>a {
	margin-right: 0;
	border: 1px solid #ccc;
	border-bottom: 0;
}
.tab-content{
	padding: 20px;
	margin-bottom: 50px;
}
.tab-border {
	border: 1px solid #ccc;
	border-top: 0
}
.tab-options{
	margin: 10px 0
}
.tab-options>*, .option-list li{
	display: inline-block
}
.tab-options h4{
	width: 90px;
	font-size: 16px
}
.tab-options .more{
	margin: 0 20px;
	cursor: pointer
}
.option-list {
	width: 65%;
	height: 32px;
	margin-top: -2px;	
	overflow: hidden;
}
.height-auto{
	height: auto
}
.option-list li{
	margin: 0 8px 5px;
	line-height: 1.8;
	vertical-align: middle
}
.option-list li a{
	color: #666
}
.option-list li.active a{
	color: #337ab7
}
.option-list li label{
	margin-right: 10px;
	font-size: 16px
}
.option-list li .form-control{
	display: inline-block;
	width: 110px;
	height: 30px;
	margin-left: -10px;
}
.order-list{
	width: 100%
}
.order-list li{
	margin: 0 10px 0 0;
}
.date h4{
	margin-top: 8px;
}
.date .option-list{
	height: auto
}
.date .form-control{
	width: 200px;
}
.date .line{
	line-height: 2;
	color: #ccc;
}
.product-operation .pull-left .btn{
	margin-right: 10px
}
/*table style*/
.table > thead > tr > th{
	font-weight: normal;
	color: #fff;
	background: #66BAE9;
	border-right: 1px solid #f0f0f0;
	border-bottom: 0
}
.table > thead > tr > th:last-child{
	border: 0
}
.table > thead > tr > th,
.table > tbody > tr > td{
	min-width: 70px;
	height: 30px;
	line-height: 1.5;
	text-align: center;
	vertical-align: middle
}
.table-stripe > tbody > tr:nth-of-type(even) {
    background-color: #E5F4FB
}
.check-all {
	vertical-align: top
}
/* recommend */
.recommend > td{
	color: #f60
}
.recommend > td:nth-child(2){
	width: 100px;
}
.recommend > td:nth-child(2):before{
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: -2px 2px 0 -24px;
	vertical-align: middle;
	background: url(../images/recommend.png)no-repeat center;
}
/*table td.operate*/
.operate span {
	font-size: 16px;
	color: #666;
	cursor: pointer
}
.operate:hover span{
	color: #f60
}
.operate:hover .operate-list{
	display: block
}
.operate-list{
	display: none;
	position: absolute;
	z-index: 1;
	margin-top: -30px;
	margin-left: -70px;
	color: #333;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0px 1px 5px #333
}
.operate-list li{
	width: 80px;
	padding: 5px 0;
	border-bottom: 1px solid #ddd
}
.operate-list li:last-child{
	border: 0
}
.operate-list li a{
	color: inherit;
}
.operate-list li.bdsharebuttonbox{
	padding: 0
}
.operate-list li.bdsharebuttonbox .bds_more{
	font-size: 14px;
	background: none;
}
.operate-list li a:hover{
	color: #f60
}
/*pagebar*/
.pagebar ul{
	float: left
}
.page-jump {
	margin: 20px 0 0 20px;
}
.page-jump li, .page-jump li input{
	display: inline-block;
}
.page-jump li input{
	width: 60px
}
/* modal */
.modal {
  background: rgba(0, 0, 0, .3)
}
.modal-dialog{
   width: 400px
}
.modal-header {
    padding: 5px 10px;
    background: #008CDC;
    border-radius: 5px 5px 0 0
}
.modal-header .close {
    margin-top: -5px;
    opacity: 1;
    color: #fff;
    font-weight: normal;
    text-shadow: none
}
.modal-header .close span {
    font-size: 35px
}
.modal-title {
    text-indent: 1em;
    font-size: 20px;
    color: #fff;
}
.modal-body {
   padding: 30px 30px 0 30px;
   font-size: 18px
}
.modal-info{
    padding: 30px 0;
    text-align: center;
    letter-spacing: 4px;
    color: #666;
}
.modal-info em{
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: #f60
}
.modal-footer {
    border: 0;
    text-align: center;
}
.modal-footer .btn{
    margin: 0 25px;
    padding: 3px 8px;
  /*  letter-spacing: 2px;*/
    text-indent: 2px;
    font-size: 16px;
    background: #e6e6e6
}
.modal-footer .confirm{
    color: #008CDC
}
.modal-footer .cancel{
    color: #f60
}
.price-add .form-control{
    display: inline-block;
    width: 60px;
}
.price-add label:last-child{
    margin-left: 10px;
}
.price-add .per{
    display: none
}

/*product page */
.product .tab-options>* {
    vertical-align: top
}
.search input{
	display: inline-block;
	width: 400px
}
.product .search .btn-main{
	padding: 4px 10px;
	margin-top:-6px;
}
.product .search .btn-main span{
	color: #fff;
	font-size: 20px
}
.option-list .day input{
	width: 50px;
	margin-right: 5px;
}
/*order page */
.order label{
	vertical-align: middle;
	color: #666;
	font-size: 16px;
}
.order-state{
	vertical-align: top
}
.order .operate-list li.bdsharebuttonbox {
    padding: 3px 0;
}
.detail .table caption{
	text-align: center;
	border: 1px solid #ccc
}
.detail .table caption,
.detail .table>tbody>tr>td:first-child{
	width: 110px
}

.detail table td input{
	display: inline-block;
	width: 50px;
	margin: auto;
}
/* order-refund page */
.refund .option-list{
	width: 100%
}
.refund .option-list li{
	margin:0 5px 0 0;
	vertical-align: middle;
}
.refund-reject h5{
	width: 110px;
	line-height: 40px;
	text-align: center;
	border: 1px solid #ccc;
}
.refund-reject textarea{
	width: 90%;
	padding: 5px;
	text-indent: 1em;
	font-size: 20px;
	resize: none
}
.refund-reject .btn{
	margin-left: calc(90% - 82px);
}
.table-left>tbody>tr>td{
	text-align: left
}

/*store page */
.no-store {
	height: 400px;
	background: url(../images/no-store.png)no-repeat center 
}
.no-store-info{
	position: absolute;
	top: 280px;
	left: 0;
	right: 0;
	margin: auto;
}
.no-store-info p{
	margin: 0;
	text-align: center;
	font-size: 22px;
	letter-spacing: 5px;
}
.no-store-info p em{
	font-size: 30px;
	color: #37b1ff;
}
.no-store .btn{
	margin-top: 20px;
	font-size: 18px
}

/* disclaimer page */
.disclaimer .panel {
	border: 0;
	border-radius: 0;
	margin-bottom: 0
}
.disclaimer .panel-heading{
	height: 45px;
	border-radius: 0;
  background-color: #66bae9;
}
.disclaimer .exit:hover, 
.disclaimer .exit:link {
	color: #fff
}
.disclaimer .exit{
	float: right;
	margin-top: -10px;
	font-size: 30px;
	color: #fff;
}
.disclaimer .panel-body{
	background-color: #e5f4fb;
	padding: 40px;
}
.disclaimer .panel-content{
	padding: 20px;
	font-size: 16px;
	background: #fff
}
.disclaimer .panel-content h1{
	margin-bottom: 20px;
	font-size: 30px;
	text-align: center
}
.panel-content h4,
.panel-content p{
	line-height: 1.5
}
.panel-content h4{
	font-weight: 600;
}
.panel-content p{
	margin: 0 0 0 2em
}
.disclaimer label{
	margin-top: 10px;
}
.disclaimer .btn-main{
	padding: 5px 20px;
	font-size: 18px;
	letter-spacing: 5px
}
.disclaimer .main:hover {
	color: #fff;
}

/*apply-for-store page */
.apply-form {
	margin-bottom: 50px
}
.main-products label {
	margin-right: 5px;
}
.main-products input[type=checkbox]{
	margin-right: 2px;
	vertical-align: top;
}
input[type=file]{
	display: none
}
.pic-preview{
	display: inline-block;
	width: 200px;
	height: 150px;
	border: 1px solid #ccc;
	cursor: pointer;
}
.pic-preview img{
	width: 100%;
	height: 100%
}
.btn-upload{
	vertical-align: bottom;
	cursor: pointer;
}
/*apply-success-tip page*/
.apply-success{
	display: block
}
.apply-success .modal-dialog {
    margin: 100px auto;
}
.apply-success .modal-body{
	text-align: center;
}
.apply-success .modal-body p{
	display: inline-block;
	vertical-align: middle;
}
.apply-success .success-icon{
	width: 62px;
	height: 77px;
	padding: 20px;
	background: url(../images/success.png)no-repeat center
}
.apply-success .success-info{
	margin: -20px 0 0 10px;
	font-size: 26px;
	color: #666;
}
.apply-success .btn{
	color: #ee7848
}
/* store-home-manage */
.store{
	padding: 0 30px;
}
.store .option-list {
	vertical-align: top
}
.store select.form-control{
	width: 200px;
}
.operate span{
	display: inline-block;
	width: 15px;
	height: 15px;
	margin: 0 5px;
}
.operate .move-up{
	background: url(../images/up.png) no-repeat center;
}
.operate .move-down{
	background: url(../images/down.png) no-repeat center;
}
/* store-info */
.store-info .page-header{
	margin-top: 0;
	padding-left: 50px;
}
.store-info .store-pic{
	width: 120px;
	height: 120px;
}
.store-info .store-name{
	display: inline-block;
	margin-left: 20px;
}
.license {
	width: 150px;
	height: 100px;
	transition: all .3s
}
.store-info .license:hover {
	transform: scale(3)
}
.store-info .table tr td:first-child{
	width: 200px
}
.store-info .table > tbody > tr > td{
	border: 0;
	vertical-align: top
}
.btn-cancel {
	margin-left: 20px
}
/*-----------------------division----------------------*/
/*market manage*/
.search.pull-left label{
	line-height:30px;
}
.search.pull-left input,
.search.pull-left select{
	width: 200px;
	margin-right: 20px;
}
/*market_employee_edit*/
.form-group select{
	width:150px;
}
.phone input:first-child{
	width:70px;
}
.market .form-group select{
	width:200px;
}
.employee_select select{
	width:150px;
	display: inline-block;
}