body {
    font-family: 'Microsoft Yahei';
    background: #f1f1f1
}

a:hover,
a:link,
a:active,
a:focus {
    text-decoration: none;
    outline: 0
}

li {
    list-style: none
}

.header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 5px 20px;
    background: #fff
}

.qqbox-layer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background: rgba(0, 0, 0, 0.2)
}

.qqbox-layer .qqbox {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -210px;
    margin-top: -150px;
    padding: 10px 10px 10px 60px;
    width: 420px;
    height: 243px;
    background: #383b40
}

.qqbox i,
.qqbox ul li a {
    background: url(../images/qq.png) no-repeat
}

.qqbox i {
    position: absolute;
    top: 30px;
    left: 10px;
    width: 39px;
    height: 40px;
    background-position: 0 0
}

.qqbox b {
    position: absolute;
    top: 85px;
    left: 20px;
    font-weight: normal;
    font-size: 18px;
    color: #ffa200
}

.qqbox ul {
    width: 100%;
    padding: 3px 11px;
    background: #f7f7f7
}

.qqbox ul li {
    height: 36px;
    line-height: 36px;
    border-bottom: 1px solid #aaa
}

.qqbox ul li a {
    display: block;
    color: #949494;
    cursor: pointer;
    background-position: -44px 6px
}

.header .site-logo {
    padding: 0
}

.header .site-logo .logo {
    display: block;
    position: relative;
    top: -5px;
    width: 100%;
    height: 39px;
    background: url(../images/logo.png)no-repeat center; 
}

.header .user-info {
    height: 39px;
    padding: 0;
    line-height: 39px;
    font-size: 16px
}

.header .user-info ul {
    float: right
}

.header .user-info li {
    float: left;
    margin: 0 7px;
    color: rgb(102, 102, 102);
    font-size: 15px;
}

.header .user-info li.service-line {
    margin-top: 2px;
    font-size: 0.9em;
    color: #ff6d60;
    line-height: 10px;
    text-align: left;
    height: 39px;
    padding-left: 20px;
}

.header .user-info .service-line p {
    height: 10px;
    line-height: 1;
    color: #ff6d60;
}

.header .user-info li span {
    color: #1faeff;
    padding: 0 5px;
}

.header .user-info li a {
    color: #666
}

.header .user-info li a:hover {
    color: #1FAEFF
}

.topbar {
    margin-top: 6px;
}

.tabbar-wrap {
    position: absolute;
    top: 60px;
    right: 0;
    left: 240px;
    padding: 15px 20px;
    background: #f1f1f1
}

.tabbar {
    margin: auto;
    text-align: center;
    background: #20aeff
}

.tabbar a {
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    border-right: 1px solid #eee;
    color: #fff;
    transition: all .5s
}

.tabbar a:last-child {
    border-right: 0;
}

.tabbar a:hover,
.tabbar a.active {
    background: #50ccff
}

.siderbar {
    position: absolute;
    top: 56px;
    left: 0;
    bottom: 0;
    width: 240px;
    height: auto;
    background: #1faeff;
    overflow: hidden
}

.siderbar .siderbar-head {
    text-align: center;
    position: relative;
}

.siderbar-head .head-logo {
    width: 140px;
    height: 140px;
    margin: 20px auto;
    border-radius: 100%;
    border: 5px solid #ccc;
}

.siderbar-head .head-logo img {
    width: 100%;
    border-radius: 100%
}

.siderbar-head span {
    font-size: 17px;
    color: #fff;
    letter-spacing: 1px
}

.panel-group {
    position: absolute;
    top: 220px;
    bottom: 0;
    width: 257px;
    overflow-x: hidden;
    overflow-y: scroll
}

.panel-group .panel+.panel {
    margin-top: 0
}

.panel {
    border: 0;
    box-shadow: none
}

.panel-heading {
    padding: 0
}

.panel-title {
    height: 50px;
    line-height: 50px;
    color: #fff;
    background: #1faeff;
    transition: all .3s
}

.panel-title.active,
.panel-title:hover {
    background: #0286ee
}

.panel-title a {
    display: block;
    height: 100%;
    padding-left: 20px;
    font-size: 15px;
    position: relative
}

.panel-title>a>i {
    top: 8px;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background: url(../images/pic.png) no-repeat 0 0;
}

.panel-title .glyphicon.product_center {
    background-position: -30px 0
}

.panel-title .glyphicon.platform_manager {
    background-position: 0 -145px
}

.panel-title .glyphicon.platform_coupon {
    background-position: -60px 0
}

.panel-title .glyphicon.settlement_related {
    background-position: -60px -30px
}

.panel-title .glyphicon.neutral_brand {
    background-position: -30px -30px
}

.panel-title .glyphicon.platform_report {
    background-position: 0 -30px
}

.panel-title .glyphicon.numerical_statement {
    background-position: 0 -120px
}

.panel-title>a>span {
    position: absolute;
    top: 19px;
    right: 20px;
    font-size: 12px;
    color: #f3f3f3
}

.panel-title.active>a>span {
    transform: rotate(90deg)
}

.panel .panel-body {
    height: 40px;
    line-height: 40px;
    padding: 0;
    background: #e3f9ff;
    transition: all .3s
}

.panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: 0
}

.panel .panel-body a {
    display: block;
    height: 100%;
    padding-left: 64px;
    color: #666;
    font-size: 14px;
    position: relative
}

.panel-body.active,
.panel-body:hover {
    background: #50cefe
}

.panel-body.active>a,
.panel-body:hover a {
    color: #fff
}

.panel-body>a>span {
    position: absolute;
    top: 9px;
    right: 10px;
    width: 29px;
    height: 22px;
    background: url(../images/XJY.gif) no-repeat center;
    background-size: 29px 22px;
    opacity: 0
}

.panel-body.active>a>span,
.panel-body:hover span {
    opacity: 1
}

.toggle-stop>span {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    color: #fff;
    font-size: 20px;
    border-radius: 3px;
    cursor: pointer
}

.toggle-stop>span:hover {
    background: rgba(0, 0, 0, .1)
}

.togglebar {
    display: none;
    position: fixed;
    top: 56px;
    left: 0;
    bottom: 0;
    width: 5px;
    background: #1F95FF
}

.toggle-open {
    position: absolute;
    top: 40%;
    left: 5px;
    width: 15px;
    height: 80px;
    border-radius: 0px 6px 6px 0px;
    background: #1F95FF;
    cursor: pointer
}

.toggle-open span {
    margin: 30px -3px;
    font-size: 15px;
    color: #fff;
    transform: rotate(90deg);
}

.main {
    position: absolute;
    top: 140px;
    bottom: 50px;
    right: 20px;
    left: 240px;
    z-index: 2;
    margin-left: 20px;
    background: #fff
}

.footer {
    position: absolute;
    left: 240px;
    right: 0;
    bottom: 0;
    padding: 5px 20px;
    text-align: center
}

.footer ul li {
    display: inline-block;
    padding: 0 5px
}

.footer ul,
.footer p {
    margin-bottom: 0
}

@media screen and (max-width: 993px) {
    .site-logo {
        display: none
    }
}

@media screen and (max-width: 654px) {
    .user-info .service-line {
        display: none
    }
}
.mask{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1; 
    background: rgba(0,0,0,.3)
}
